# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Notebook artifacts
.ipynb_checkpoints/

# Local editor files
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Large local data
dataset/
*.parquet
*.csv
*.orc
*.avro
results/**
!results/
!results/.gitkeep
!results/format/
!results/format/.gitkeep
!results/partition/
!results/partition/.gitkeep
!results/bucketing/
!results/bucketing/.gitkeep
!results/join_skew/
!results/join_skew/.gitkeep

# Local environment files
.env
.env.*
